+profile("view/assets/image/b_k.png")
  a.move-down(href="#start")
    i.fa.fa-angle-double-down

.my-description#start
  .first-description
    +description("Comprometida","Comprometida con su trabajo, decidio formar esta pequeña organizacion que ayuda a empoderar a las mujeres. Se compremetio a ayudar a muchas mujeres.",data_profile.name)
  .message-inspiration
    p.message "Define el éxito en tus propios términos, alcánzalo en tus propios términos, y vive una vida que te haga sentir orgullosa"
        
  .second-description(data-aos="fade-up")
    .row
        +description("Profesional","Ingeniera de Minas y Construccion, estudio en la Universidad de ---------.Fue -------  y -------- en su puesto de trabajo. Actualmente ejerce su profesion con mucha devocion. Tambien posee actitudes muy profesionales y maduras , cosa que facilita trabajar con ella.","")
    .row
      img(src="view/assets/image/b_n.jpg")
  .dark-description(data-aos="fade-up")
     .front-view-detail(data-aos="fade-right") 
        +description("Empoderada","Desde siempre fue una mujer empoderada, dispuesta a todo para alcanzar sus metas y objetivos. Aun a dia de hoy lo sigue siendo , por lo que se comprometio en brindar su apollo a las mujeres que lo necesiten. Por ello fundo esta pequeña sociedad llamada MUJERES EMPRENDEDORAS con la que planea hacer grandes cosas en el futuro.",data_profile.name)
          a.btn-link(href="contact") contacto
     .back-view
  .double-row-more-description
    .row.row-header(data-aos="fade-up")
      +description-image("Empresarial","La gran capacidad de emprender un gran proyecto como lo es MUJERES EMPODERADAS, la vuelve una mujer empresarial y visionaria. Posee capacidades de emprendimiento que pocas personas poseen y gracias a ellas a podido llegar muy lejos en su vida.")
      +description-image("Organizadora","El poder organizar muchos eventos actuales y futuros requiere de esfuerzo y dedicacion , por ello se deja ver la gran ORGANIZADORA que es ella actualmente. Con mucho esfuerzo lograran grandes eventos y charlas en un futuro que la llevaran muy lejos en su camino.")


//LA CLASE BTN-LINK ESTA EN HELPERS.SCSS
