+profile("view/assets/image/b_k.png")
  a.move-down(href="#start")
    i.fa.fa-angle-double-down

.my-description#start
  .first-description
    +description("Dedicada","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",data_profile.name)
  .message-inspiration
    p.message Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, reiciendis exercitationem illum totam esse autem placeat expedita voluptatem fuga dolor?
        
  .second-description(data-aos="fade-up")
    .row
        +description("Servicial","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","")
    .row
      img(src="view/assets/image/b_n.jpg")
  .dark-description(data-aos="fade-up")
     .front-view-detail(data-aos="fade-right") 
        +description("emotive inspiration","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",data_profile.name)
          a.btn-link(href="contact") contacto
     .back-view
  .double-row-more-description
    .row.row-header(data-aos="fade-up")
      +description-image("Ingeniera","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, et? Facere velit voluptatum cum repellat expedita at quos, aperiam quod totam temporibus, fugit maiores in reprehenderit, debitis quis! Voluptates incidunt laboriosam minima, similique tempora dolores consectetur voluptatem accusantium porro tenetur?")
      +description-image("Dedicada","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, et? Facere velit voluptatum cum repellat expedita at quos, aperiam quod totam temporibus, fugit maiores in reprehenderit, debitis quis! Voluptates incidunt laboriosam minima, similique tempora dolores consectetur voluptatem accusantium porro tenetur?")


//LA CLASE BTN-LINK ESTA EN HELPERS.SCSS
