<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#e63c5a"/>
    <link rel="shortcut icon" href="view/assets/image/icon_page.png"/>
    <title>default_text - Mujeres Empoderadas</title>
    <link rel="stylesheet" href="view/css/detail_admin.css?v=2.1"/>
  </head>
  <body>
    <div class="fist-loading">
      <div class="loader"></div>
    </div>
    <main class="main-app">
      <div class="header-options">
        <button class="link" id="logout-button">Logout</button>
      </div>
      <div class="nav-options">
        <div class="search"><i class="icon-search fa fa-search"></i>
          <input class="input-search" placeholder="Search Events"/>
        </div>
        <button class="add-publication" id="add-publication" title="agregar un nuevo evento"><i class="fa fa-plus"></i></button>
      </div>
      <div class="body-publications">
        <div class="row-option-publication">
          <button class="btn-link btn-change-publication" data-name="events">eventos</button>
          <button class="btn-link btn-change-publication" data-name="images">mis imagenes</button>
          <button class="btn-link btn-upload-new-image hidden" title="subir nueva imagen"><i class="fa fa-upload"></i></button>
        </div>
        <div class="publication toggle" id="publication-upload">
          <form class="add-publication toggle" id="form-insert-publication" enctype="multipart/form-data">
            <div class="row-title">
              <p class="title modal">Agregar evento</p>
            </div>
            <div class="row-body-publication">
              <div class="container-input">
                <div class="fields"> 
                  <input class="text-field" type="text" name="title" maxlength="300" placeholder="Titulo" rows="3" required="required"/>
                  <textarea class="text-field" placeholder="Descripcion..." maxlength="2000" name="text" rows="6" required="required"></textarea>
                  <div class="input-picture">
                    <label class="text-upload-file"> <i class="icon-upload fa fa-image"></i>subir una foto
                      <input type="file" name="image" required="required"/>
                    </label>
                  </div>
                </div>
                <div class="preview">
                  <div class="preview-image"></div>
                </div>
              </div>
              <div class="btn-options"> 
                <input class="btn-cancel" type="reset" value="Cancelar" id="btn-cancel-publication"/>
                <input class="btn-publication" type="submit" value="Añadir evento"/>
              </div>
            </div>
          </form>
        </div>
        <div class="publication toggle" id="image-upload">
          <form class="add-publication toggle" id="form-insert-image" enctype="multipart/form-data">
            <div class="row-title">
              <p class="title modal">Subir una foto                    </p>
            </div>
            <div class="row-body-publication">
              <div class="container-input">
                <div class="fields">
                  <div class="input-picture">
                    <label class="text-upload-file"> <i class="icon-upload fa fa-image"></i>subir una foto
                      <input type="file" name="image" required="required"/>
                    </label>
                  </div>
                </div>
                <div class="preview">
                  <div class="preview-image"> </div>
                </div>
              </div>
              <div class="btn-options">
                <input class="btn-cancel" type="reset" value="Cancelar" id="btn-cancel-publication-image"/>
                <input class="btn-publication" type="submit" value="Añadir foto"/>
              </div>
            </div>
          </form>
        </div>
        <div class="row-title">
          <p class="title title-dynamic">Eventos publicados</p>
        </div>
        <div class="row-publications" id="content-publications">
          <!--Content js-->
        </div>
      </div>
    </main>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script async="async" src="view/assets/helpers/icons.js"></script>
    <script src="view/js/all.js"></script>
    <script>AOS.init({once:true});</script>
  </body>
</html>