<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#e63c5a"/>
    <link rel="shortcut icon" href="view/assets/image/icon_page.png"/>
    <title>Brunella - Mujeres Empoderadas</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"/>
    <link rel="stylesheet" href="view/css/detail_profile.css"/>
  </head>
  <body>
    <div class="fist-loading">
      <div class="loader"></div>
    </div>
    <main class="main-app">
      <header class="main-header">
        <div class="main-logo"><a href="home"><img class="logo-img" src="view/assets/image/logo.png" alt=""/></a>
          <div class="sign">
            <p>Environment of Mining and Construction for Women</p>
          </div>
        </div>
        <div class="main-options">
          <ul class="list">
            <li class="option"><a class="link" href="profile">Brunella Benavente</a>
              <div class="animation-div"></div>
            </li>
            <li class="option"><a class="link" href="nosotros">Nosotros</a>
              <div class="animation-div"></div>
            </li>
            <li class="option"><a class="link" href="franquicias">Franquicias</a>
              <div class="animation-div"></div>
            </li>
            <li class="option"><a class="link" href="servicios">Servicios</a>
              <div class="animation-div"></div>
              <ul class="internal-list">
                <li class="internal-option"><a class="link" href="servicios#conferencia">Conferencias</a></li>
                <li class="internal-option"><a class="link" href="servicios#franquicias">Franquicias</a></li>
                <li class="internal-option"><a class="link" href="servicios#presentacion">Presentaciones</a></li>
              </ul>
            </li>
            <li class="option"><a class="link" href="galery">Galeria</a>
              <div class="animation-div"></div>
            </li>
            <li class="option"><a class="link" href="contact">Contacto</a>
              <div class="animation-div"></div>
            </li>
          </ul>
        </div>
        <div class="main-responsive-menu" id="icon-header-menu"><i class="fa fa-bars"></i></div>
      </header>
      <div class="section-profile-principal"> 
                <div class="my-profile">
                  <div class="front-view-detail">
                    <div class="card-panel">
                      <div class="title-name">
                        <h3>Mineria y Construccion</h3>
                        <h1>Brunella Benavente</h1>
                      </div>
                      <div class="description"> 
                        <ul> 
                          <li>
                            <p>Ingeniera Industrial especialista en Seguridad en Minería y Construcción, Empresaria, y Fundadora de la Comunidad de Empoderamiento “Botas de punta de acero”  y Creadora de “Environment of Mining and Construction of Women” </p>
                          </li>
                          <li>
                            <p>Líder en Gestión de Seguridad en Minería y Construcción contando con una larga experiencia de aproximadamente más de 8 años.</p>
                          </li>
                          <li>
                            <p>Coach en PNL avanzada e Hipnosis, graduada y certifica por la  la AHPNL (Asociación Hispanoamericana de Programación Neurolingüística).</p>
                          </li>
                          <li>
                            <p>CEO de la Empresa AYNI, Empresa con la visión de dar trabajos y entrenar mujeres para lograr la equidad de género en la Construcción.</p>
                          </li>
                          <li>
                            <p>Directora de Operaciones del “Instituto de Seguridad y Salud en la Construcción”.</p>
                          </li>
                          <li>
                            <p>Integrante de la Comunidad de “LIFE”, &lt;La vida que siempre has querido&gt;, una plataforma mundial de desarrollo, liderazgo y finanzas personales.</p>
                          </li>
                          <li>
                            <p>Integrante de la Comunidad de “Fridays for Future”, visión que esta basada en el presente y futuro del planeta.</p>
                          </li>
                          <li>
                            <p>CEO de “BRevents 4U”, Empresa Organizadora de Eventos.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="back-view"><img src="view/assets/image/b_k.png"/></div>
                </div>
        <div class="my-description" id="start">
          <div class="first-description">
                    <div class="iam-profile-description">
                      <div class="header">
                        <p class="im-virtue">Comprometida</p>
                      </div>
                      <div class="section">
                        <p class="--text">Comprometida con su trabajo, decidio formar esta pequeña organizacion que ayuda a empoderar a las mujeres. Se compremetio a ayudar a muchas mujeres.</p>
                      </div>
                    </div>
          </div>
          <div class="message-inspiration">
            <p class="message">"Define el éxito en tus propios términos, alcánzalo en tus propios términos, y vive una vida que te haga sentir orgullosa"</p>
          </div>
          <div class="second-description" data-aos="fade-up">
            <div class="row">
                      <div class="iam-profile-description">
                        <div class="header">
                          <p class="im-virtue">Profesional</p>
                        </div>
                        <div class="section">
                          <p class="--text">Ingeniera de Minas y Construccion, estudio en la Universidad de ---------.Fue -------  y -------- en su puesto de trabajo. Actualmente ejerce su profesion con mucha devocion. Tambien posee actitudes muy profesionales y maduras , cosa que facilita trabajar con ella.</p>
                        </div>
                      </div>
            </div>
            <div class="row"><img src="view/assets/image/b_n.jpg"/></div>
          </div>
          <div class="dark-description" data-aos="fade-up">
            <div class="front-view-detail" data-aos="fade-right"> 
                      <div class="iam-profile-description">
                        <div class="header">
                          <p class="im-virtue">Empoderada</p>
                        </div>
                        <div class="section">
                          <p class="--text">Desde siempre fue una mujer empoderada, dispuesta a todo para alcanzar sus metas y objetivos. Aun a dia de hoy lo sigue siendo , por lo que se comprometio en brindar su apollo a las mujeres que lo necesiten. Por ello fundo esta pequeña sociedad llamada MUJERES EMPRENDEDORAS con la que planea hacer grandes cosas en el futuro.</p><a class="btn-link" href="contact">contacto</a>
                        </div>
                      </div>
            </div>
            <div class="back-view"></div>
          </div>
          <div class="double-row-more-description">
            <div class="row row-header" data-aos="fade-up">
                      <div class="description-card">
                        <div class="title">
                          <p class="t">Empresarial</p>
                        </div>
                        <div class="description"> 
                          <p class="text-description">La gran capacidad de emprender un gran proyecto como lo es MUJERES EMPODERADAS, la vuelve una mujer empresarial y visionaria. Posee capacidades de emprendimiento que pocas personas poseen y gracias a ellas a podido llegar muy lejos en su vida.</p>
                        </div>
                      </div>
                      <div class="description-card">
                        <div class="title">
                          <p class="t">Organizadora</p>
                        </div>
                        <div class="description"> 
                          <p class="text-description">El poder organizar muchos eventos actuales y futuros requiere de esfuerzo y dedicacion , por ello se deja ver la gran ORGANIZADORA que es ella actualmente. Con mucho esfuerzo lograran grandes eventos y charlas en un futuro que la llevaran muy lejos en su camino.</p>
                        </div>
                      </div>
            </div>
          </div>
        </div>
        <!--LA CLASE BTN-LINK ESTA EN HELPERS.SCSS-->
      </div>
      <footer class="main-footer">
        <div class="container-footer">
          <div class="column">
            <div class="title"><img src="view/assets/image/logo.png" alt=""/></div>
            <div class="content">
              <p>Todas nosotros debemos sentirnos Empoderadas , nosotros te brindamos la mejor asesoria de Internet para lograr ese Objetivo.</p>
            </div>
          </div>
          <div class="column content-center hide-on-screen-small">
            <div class="title">
              <h2>Mujeres Empoderadas</h2>
            </div>
            <div class="content">
              <ul class="list-footer">
                <li class="option-list-footer"><a class="link-style" href="profile">Brunella Benavente</a>
                  <div class="animation"></div>
                </li>
                <li class="option-list-footer"><a class="link-style" href="nosotros">Nosotros</a>
                  <div class="animation"></div>
                </li>
                <li class="option-list-footer"><a class="link-style" href="servicios">Servicios</a>
                  <div class="animation"></div>
                </li>
                <li class="option-list-footer"><a class="link-style" href="contact">Contacto</a>
                  <div class="animation"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="column content-center">
            <div class="title">
              <h2>Siguenos en:</h2>
            </div>
            <div class="icons-content"><a class="link-style" target="_blank" href="https://www.facebook.com/miningandconstruction/"><i class="fab fa-facebook fa-2x"></i></a><a class="link-style" href="https://api.whatsapp.com/send?phone=+51 974213600&amp;text=Hola Brunella" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a><a class="link-style" href=""><i class="fab fa-twitter fa-2x"></i></a></div>
          </div>
        </div>
        <div class="copyright-content">
          <p>Copyright <span><i class="fa fa-copyright"></i></span> M&P DADA (2019)</p>
        </div>
      </footer><a class="float-button-wsp" href="https://api.whatsapp.com/send?phone=+51 974213600&amp;text=Hola Brunella" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
      <div class="menu-responsive">
        <div class="menu-responsive-header">
          <div class="title-menu-responsive"><a href="home"><img class="logo-img" src="view/assets/image/logo.png" alt=""/></a></div>
          <div class="options-menu-responsive">
            <ul class="list">
              <li class="item"><a href="profile">Brunella Benavente</a></li>
              <li class="item"><a href="nosotros">Nosotros</a></li>
              <li class="item"><a href="franquicias">Franquicias</a></li>
              <li class="item"><a href="servicios">Servicios</a></li>
              <li class="item"><a href="galery">Galeria</a></li>
              <li class="item"><a href="contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script async="async" src="view/assets/helpers/icons.js"></script>
    <script src="view/js/functions/template_functions.js"></script>
    <script src="view/js/pages/templates/header.js"></script>
    <script src="view/js/pages/templates/aside.js"></script>
    <script>AOS.init({once:true});</script>
  </body>
</html>