{
  "name": "Union",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "view/pug/pages/home.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"view/html/home.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/helpers/base_html.pug",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/pages/galery_image.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"view/html/galery_image.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/pages/galery/cards-event.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/pages/galery/image-event.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/sass/helpers/helpers.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "view/sass/helpers/_variables.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "view/pug/pages/home/views/item-1.pug",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/pages/home/views/item-2.pug",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/pages/home/views/item-3.pug",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/pages/home/views/item-4.pug",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/typescript/prueba2.ts",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-typescript\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true}}"
    },
    {
      "path": "view/pug/pages/galery_event.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"view/html/galery_event.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/pages/contact.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"view/html/contact.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/pages/profile.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"view/html/profile.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/sass/intermediate_home.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "view/pug/pages/nosotros.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"view/html/nosotros.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/pages/franquisias.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"view/html/franquisias.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "view/pug/pages/franquicias.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"view/html/franquicias.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/pug/pages/servicios.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"view/html/servicios.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "view/sass/intermediate_franquicias.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/intermediate_profile.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/intermediate_contact.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/intermediate_galery.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/intermediate_galery_event.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/intermediate_nosotros.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/intermediate_servicios.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/detail_servicios.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/detail_profile.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/detail_nosotros.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/detail_home.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/detail_galery_event.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/detail_galery.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/detail_franquicias.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "view/sass/detail_contact.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "view/css/helpers",
      "view/babel",
      "view/typescript",
      "view",
      "view/pug/pages"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "view/sass/detail_contact.scss",
      "imports": [
        "view/sass/helpers/mixins.scss",
        "view/sass/helpers/helpers.scss",
        "view/sass/helpers/reset.scss",
        "view/sass/templates/header.scss",
        "view/sass/page/contact.scss",
        "view/sass/templates/aside.scss",
        "view/sass/templates/footer.scss",
        "view/sass/helpers/_variables.scss",
        "view/sass/templates/header/responsive.scss",
        "view/sass/templates/aside/init_controls.scss",
        "view/sass/templates/aside/contact.scss"
      ]
    },
    {
      "path": "view/sass/detail_franquicias.scss",
      "imports": [
        "view/sass/helpers/mixins.scss",
        "view/sass/helpers/helpers.scss",
        "view/sass/helpers/reset.scss",
        "view/sass/templates/header.scss",
        "view/sass/page/franquicias.scss",
        "view/sass/templates/aside.scss",
        "view/sass/templates/footer.scss",
        "view/sass/helpers/_variables.scss",
        "view/sass/templates/header/responsive.scss",
        "view/sass/page/franquicias/mixins.scss",
        "view/sass/page/franquicias/landing.scss",
        "view/sass/templates/aside/init_controls.scss",
        "view/sass/templates/aside/contact.scss"
      ]
    },
    {
      "path": "view/sass/detail_galery.scss",
      "imports": [
        "view/sass/helpers/mixins.scss",
        "view/sass/helpers/helpers.scss",
        "view/sass/helpers/reset.scss",
        "view/sass/templates/header.scss",
        "view/sass/page/g_image.scss",
        "view/sass/templates/aside.scss",
        "view/sass/templates/footer.scss",
        "view/sass/helpers/_variables.scss",
        "view/sass/templates/header/responsive.scss",
        "view/sass/page/galery/image_ajax.scss",
        "view/sass/templates/aside/init_controls.scss",
        "view/sass/templates/aside/contact.scss"
      ]
    },
    {
      "path": "view/sass/detail_galery_event.scss",
      "imports": [
        "view/sass/helpers/mixins.scss",
        "view/sass/helpers/helpers.scss",
        "view/sass/helpers/reset.scss",
        "view/sass/templates/header.scss",
        "view/sass/page/g_event.scss",
        "view/sass/templates/aside.scss",
        "view/sass/templates/footer.scss",
        "view/sass/helpers/_variables.scss",
        "view/sass/templates/header/responsive.scss",
        "view/sass/page/galery/image_ajax.scss",
        "view/sass/templates/aside/init_controls.scss",
        "view/sass/templates/aside/contact.scss"
      ]
    },
    {
      "path": "view/sass/detail_home.scss",
      "imports": [
        "view/sass/helpers/mixins.scss",
        "view/sass/helpers/helpers.scss",
        "view/sass/helpers/reset.scss",
        "view/sass/templates/header.scss",
        "view/sass/page/home.scss",
        "view/sass/templates/aside.scss",
        "view/sass/templates/footer.scss",
        "view/sass/helpers/_variables.scss",
        "view/sass/templates/header/responsive.scss",
        "view/sass/page/home/mixins.scss",
        "view/sass/page/home/viewslider.scss",
        "view/sass/page/profile/my-profile.scss",
        "view/sass/page/home/floating-sections.scss",
        "view/sass/page/home/card-services.scss",
        "view/sass/page/home/profile.scss",
        "view/sass/templates/aside/init_controls.scss",
        "view/sass/templates/aside/contact.scss"
      ]
    },
    {
      "path": "view/sass/detail_nosotros.scss",
      "imports": [
        "view/sass/helpers/mixins.scss",
        "view/sass/helpers/helpers.scss",
        "view/sass/helpers/reset.scss",
        "view/sass/templates/header.scss",
        "view/sass/page/nosotros.scss",
        "view/sass/templates/aside.scss",
        "view/sass/templates/footer.scss",
        "view/sass/helpers/_variables.scss",
        "view/sass/templates/header/responsive.scss",
        "view/sass/templates/aside/init_controls.scss",
        "view/sass/templates/aside/contact.scss"
      ]
    },
    {
      "path": "view/sass/detail_profile.scss",
      "imports": [
        "view/sass/helpers/mixins.scss",
        "view/sass/helpers/helpers.scss",
        "view/sass/helpers/reset.scss",
        "view/sass/templates/header.scss",
        "view/sass/page/profile.scss",
        "view/sass/templates/aside.scss",
        "view/sass/templates/footer.scss",
        "view/sass/helpers/_variables.scss",
        "view/sass/templates/header/responsive.scss",
        "view/sass/page/profile/mixins.scss",
        "view/sass/page/profile/my-profile.scss",
        "view/sass/page/profile/sections.scss",
        "view/sass/templates/aside/init_controls.scss",
        "view/sass/templates/aside/contact.scss"
      ]
    },
    {
      "path": "view/sass/detail_servicios.scss",
      "imports": [
        "view/sass/helpers/mixins.scss",
        "view/sass/helpers/helpers.scss",
        "view/sass/helpers/reset.scss",
        "view/sass/templates/header.scss",
        "view/sass/page/servicios.scss",
        "view/sass/templates/aside.scss",
        "view/sass/templates/footer.scss",
        "view/sass/helpers/_variables.scss",
        "view/sass/templates/header/responsive.scss",
        "view/sass/templates/aside/init_controls.scss",
        "view/sass/templates/aside/contact.scss"
      ]
    },
    {
      "path": "view/pug/helpers/base_html.pug",
      "imports": [
        "view/pug/helpers/config.pug",
        "view/pug/helpers/mixins.pug",
        "view/pug/templates/header.pug",
        "view/pug/templates/aside.pug",
        "view/pug/templates/footer.pug",
        "view/pug/templates/icon_whasapp.pug",
        "view/pug/templates/menu-responsive.pug"
      ]
    },
    {
      "path": "view/pug/pages/contact.pug",
      "imports": [
        "view/pug/helpers/base_html.pug",
        "view/pug/pages/contact/mixins.pug",
        "view/pug/templates/aside/contacto.pug",
        "view/pug/helpers/config.pug",
        "view/pug/helpers/mixins.pug",
        "view/pug/templates/header.pug",
        "view/pug/templates/aside.pug",
        "view/pug/templates/footer.pug",
        "view/pug/templates/icon_whasapp.pug",
        "view/pug/templates/menu-responsive.pug"
      ]
    },
    {
      "path": "view/pug/pages/franquicias.pug",
      "imports": [
        "view/pug/helpers/base_html.pug",
        "view/pug/pages/franquicias/mixins.pug",
        "view/pug/templates/aside/contacto.pug",
        "view/pug/pages/franquicias/sections.pug",
        "view/pug/helpers/config.pug",
        "view/pug/helpers/mixins.pug",
        "view/pug/templates/header.pug",
        "view/pug/templates/aside.pug",
        "view/pug/templates/footer.pug",
        "view/pug/templates/icon_whasapp.pug",
        "view/pug/templates/menu-responsive.pug",
        "view/pug/pages/franquicias/landing.pug"
      ]
    },
    {
      "path": "view/pug/pages/galery_event.pug",
      "imports": [
        "view/pug/helpers/base_html.pug",
        "view/pug/pages/galery/mixins.pug",
        "view/pug/helpers/config.pug",
        "view/pug/helpers/mixins.pug",
        "view/pug/templates/header.pug",
        "view/pug/templates/aside.pug",
        "view/pug/templates/footer.pug",
        "view/pug/templates/icon_whasapp.pug",
        "view/pug/templates/menu-responsive.pug"
      ]
    },
    {
      "path": "view/pug/pages/galery_image.pug",
      "imports": [
        "view/pug/helpers/base_html.pug",
        "view/pug/pages/galery/mixins.pug",
        "view/pug/helpers/config.pug",
        "view/pug/helpers/mixins.pug",
        "view/pug/templates/header.pug",
        "view/pug/templates/aside.pug",
        "view/pug/templates/footer.pug",
        "view/pug/templates/icon_whasapp.pug",
        "view/pug/templates/menu-responsive.pug"
      ]
    },
    {
      "path": "view/pug/pages/home.pug",
      "imports": [
        "view/pug/helpers/base_html.pug",
        "view/pug/pages/home/mixins.pug",
        "view/pug/templates/aside/contacto.pug",
        "view/pug/pages/home/floating-sections.pug",
        "view/pug/pages/home/profile.pug",
        "view/pug/helpers/config.pug",
        "view/pug/helpers/mixins.pug",
        "view/pug/templates/header.pug",
        "view/pug/templates/aside.pug",
        "view/pug/templates/footer.pug",
        "view/pug/templates/icon_whasapp.pug",
        "view/pug/templates/menu-responsive.pug",
        "view/pug/pages/home/card-services.pug"
      ]
    },
    {
      "path": "view/pug/pages/nosotros.pug",
      "imports": [
        "view/pug/helpers/base_html.pug",
        "view/pug/pages/nosotros/bg_image.pug",
        "view/pug/pages/nosotros/card_information.pug",
        "view/pug/helpers/config.pug",
        "view/pug/helpers/mixins.pug",
        "view/pug/templates/header.pug",
        "view/pug/templates/aside.pug",
        "view/pug/templates/footer.pug",
        "view/pug/templates/icon_whasapp.pug",
        "view/pug/templates/menu-responsive.pug"
      ]
    },
    {
      "path": "view/pug/pages/profile.pug",
      "imports": [
        "view/pug/helpers/base_html.pug",
        "view/pug/pages/home/mixins.pug",
        "view/pug/pages/profile/mixins.pug",
        "view/pug/pages/profile/my-profile.pug",
        "view/pug/helpers/config.pug",
        "view/pug/helpers/mixins.pug",
        "view/pug/templates/header.pug",
        "view/pug/templates/aside.pug",
        "view/pug/templates/footer.pug",
        "view/pug/templates/icon_whasapp.pug",
        "view/pug/templates/menu-responsive.pug"
      ]
    },
    {
      "path": "view/pug/pages/servicios.pug",
      "imports": [
        "view/pug/helpers/base_html.pug",
        "view/pug/helpers/config.pug",
        "view/pug/helpers/mixins.pug",
        "view/pug/templates/header.pug",
        "view/pug/templates/aside.pug",
        "view/pug/templates/footer.pug",
        "view/pug/templates/icon_whasapp.pug",
        "view/pug/templates/menu-responsive.pug"
      ]
    },
    {
      "path": "view/sass/helpers/helpers.scss",
      "imports": [
        "view/sass/helpers/_variables.scss"
      ]
    },
    {
      "path": "view/sass/page/franquicias.scss",
      "imports": [
        "view/sass/page/franquicias/mixins.scss",
        "view/sass/page/franquicias/landing.scss"
      ]
    },
    {
      "path": "view/sass/page/g_event.scss",
      "imports": [
        "view/sass/page/galery/image_ajax.scss"
      ]
    },
    {
      "path": "view/sass/page/g_image.scss",
      "imports": [
        "view/sass/page/galery/image_ajax.scss"
      ]
    },
    {
      "path": "view/sass/page/home.scss",
      "imports": [
        "view/sass/page/home/mixins.scss",
        "view/sass/page/home/viewslider.scss",
        "view/sass/page/profile/my-profile.scss",
        "view/sass/page/home/floating-sections.scss",
        "view/sass/page/home/card-services.scss",
        "view/sass/page/home/profile.scss"
      ]
    },
    {
      "path": "view/sass/page/profile.scss",
      "imports": [
        "view/sass/page/profile/mixins.scss",
        "view/sass/page/profile/my-profile.scss",
        "view/sass/page/profile/sections.scss"
      ]
    },
    {
      "path": "view/sass/templates/aside.scss",
      "imports": [
        "view/sass/templates/aside/init_controls.scss",
        "view/sass/templates/aside/contact.scss"
      ]
    },
    {
      "path": "view/sass/templates/header.scss",
      "imports": [
        "view/sass/templates/header/responsive.scss"
      ]
    },
    {
      "path": "view/pug/pages/franquicias/sections.pug",
      "imports": [
        "view/pug/pages/franquicias/landing.pug"
      ]
    },
    {
      "path": "view/pug/pages/home/floating-sections.pug",
      "imports": [
        "view/pug/pages/home/card-services.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "/view/sass/templates",
      "/view/sass/helpers"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}