mixin contact-aside(class_aside = false)
   if !class_aside
      .aside-contact
         +content-contact()
   else
      .aside-contact.shadow
         +content-contact()

mixin content-contact()
   .image
      img(src="https://cdn.pixabay.com/photo/2015/06/24/15/45/ipad-820272_960_720.jpg", alt="").img
   .text(data-aos="fade-up")
      h1.title ¡Hola!
      p.desc(data-aos="fade-up") Escribemos directamente atraves de la pestaña <a href="" style="text-decoration:underline;color:blue">Contacto</a> para una comunicacion mas fluida con nosotros.<br> Tambien puede escribirnos atravez del siguiente correo o numero telefonico.
      h3.sub-title Correo y Numero Telefonico
      p.email: <i class="fa fa-phone"></i> +51 974-213-600
      p.email: <i class="fa fa-envelope"></i> BrunellaBenavente@hotmail.com
