.testimonial(data-aos="fade-in")
   .card
      .title
         h1 Testimoniales
      .content
         .information
            img(src="https://cdn.pixabay.com/photo/2015/07/09/00/29/woman-837156_960_720.jpg").image
            p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quia odit illum voluptatibus eum, iusto sunt in ex laboriosam facilis accusantium a? Non, veniam mollitia!
            p.testigo Lorem ipsum dolor sit amet.
      .left#left-testimonial
         i.fa.fa-chevron-left
      .right#right-testimonial
         i.fa.fa-chevron-right
