.section-floating
    .floating__power.words-inspiration(data-aos="zoom-in-up")
      p <span class="minun">Vive una </span> experiencia grandiosa <br> poder sentirte <br><span class="central">Orgullosa</span> de ti misma
    .floating__power.dark
      .image-back-panel(style='background-image:url("https://cdn.pixabay.com/photo/2014/05/03/00/56/summerfield-336672_960_720.jpg")') 
      .front-panel
        img.icon-simple(src="https://f-scope.net/images/woman-face-silhouette-png-4.png")
        .detail-text(data-aos="fade-up")
          h1.title Nos Sentimos Preparados Para Ayudarte
          p.text 
            | Tenemos la importante mision de ayudar a cualquiera que solicite nuestra ayuda. Debido a esto siempre estamos preparados y listos para nuestro Trabajo. <br> Contamos con personal capacitado para cualquiera de tus necesidades.
    .floating__power.light-2
        .container-row
          .row.motivate
              h1.greant-title(data-aos="fade-up") Nuestros Servicios
              p(data-aos="fade-up") Nosotros te brindamos la mejor asesoria para tu maravillosa persona. <br> Confia en nosotros para alcanzar tu meta y ser una mujer <span>Empoderada</span>
              a.btn-link(href="servicios")(data-aos="fade-up") Ver Más 
    include card-services
