.section-floating
    .floating__power.words-inspiration(data-aos="zoom-in-up")
      p <span class="minun">Lorem, ipsum.</span> ipsum <span class="central">dolor</span> sit amet consectetur adipisicing.
    .floating__power.dark
      .image-back-panel(style='background-image:url("https://cdn.pixabay.com/photo/2014/05/03/00/56/summerfield-336672_960_720.jpg")') 
      .front-panel
        img.icon-simple(src="https://f-scope.net/images/woman-face-silhouette-png-4.png")
        .detail-text(data-aos="fade-up")
          h1.title Lorem ipsum dolor sit ididunt ut labore et dolore
          p.text 
            | Lorem ipsum dolor sit ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    .floating__power.light-2
        .container-row
          .row.motivate
              h1.greant-title(data-aos="fade-up") Nuestros Servicios
              p(data-aos="fade-up") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              a.btn-link(href="servicios")(data-aos="fade-up") Ver Más 
    include card-services
