.row.view-text
  .row-header
    small Lorem ipsum dolor sit amet
    h1.title Lorem ipsum amet is
  p.message 
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  .options-link
      a.link.action-link(href="#") nosotros