
<div class="container-video">
  <div class="title">
    <h1>Videos</h1>
  </div>
  <div class="content">
    <div class="video">
      <video id="video">
        <source src="view/assets/video/wolf.mp4" id="video-change"/>
      </video>
    </div>
    <div class="controls">
      <div class="play center" id="play">
        <div class="fa fa-play-circle fa-3x"></div>
      </div>
      <div class="left center" id="left">
        <div class="fa fa-chevron-left fa-2x"></div>
      </div>
      <div class="right center" id="right">
        <div class="fa fa-chevron-right fa-2x"></div>
      </div>
    </div>
  </div>
</div>