
<div class="testimonial" data-aos="fade-in">
  <div class="card">
    <div class="title">
      <h1>Testimoniales</h1>
    </div>
    <div class="content">
      <div class="information"><img class="image" src="https://cdn.pixabay.com/photo/2015/07/09/00/29/woman-837156_960_720.jpg"/>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quia odit illum voluptatibus eum, iusto sunt in ex laboriosam facilis accusantium a? Non, veniam mollitia!</p>
        <p class="testigo">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="left" id="left-testimonial"><i class="fa fa-chevron-left"></i></div>
    <div class="right" id="right-testimonial"><i class="fa fa-chevron-right"></i></div>
  </div>
</div>