
@include bodyview(){
  @include flex(center,none,row);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: overlay;
  .row {
    text-align: center;
    width: 70%;
    @include responsive( $width-mobile-2 ){
      &{
        width: 100%;
      }
    }

    &.view-text {
      padding: 2%;
      padding-right: 10%;
      @include responsive( $width-mobile) {
        & {
          padding: 0 10%;
        }
      }
    }

    .row-header {

      small {
        font-size: 1.1em;

        @include responsive($width-mobile ) {
          & {
            font-size: 1em;
          }
        }
      }

      > .title {
        font-size: 3em;
        border-bottom: 1px solid white;
        padding-bottom: 20px;

        @include responsive($width-mobile ) {
          &{
            font-size: 1.8em;
            padding-bottom: 10px;
          }
        }
      }
    }

    .message {
      margin: 30px 0;
      line-height: 25px;
      font-size: 1.2em;
      @include responsive($width-mobile) {
         &{
           font-size: 0.95em;
           margin:  0;
           margin-top: 20px;
         }
      }
    }

    .options-link {
      @include responsive($width-mobile-2) {
        @include flex(none,none,row);
        font-size: .8em;
      }

      a {
        color: white;
        margin: 10px 0 ;
        margin-right: 20px;
        border-radius: 10px;
        padding: 10px 30px;
        display: inline-block;
        transition: .3s;

        @include responsive($width-mobile) {
          & {
            padding: 10px 15px;
            font-size: .8rem;
            display: none;
          }
        }

        &.action-link {
          color:white;
          background: $button-background;
          box-shadow: 0 1px 1px rgba(0,0,0,.1);

          &:hover {
              background: rgb(230,60,90);
          }
        }

        &.normal-link {
          border:1px solid white;
        }
      }
    }


  }
}
