
<div class="menu-responsive">
  <div class="menu-responsive-header">
    <div class="title-menu-responsive"><a href="home"><img class="logo-img" src="view/assets/image/logo.png" alt=""/></a></div>
    <div class="options-menu-responsive">
      <ul class="list">
        <li class="item"><a href="profile">Brunella Benavente</a></li>
        <li class="item"><a href="nosotros">Nosotros</a></li>
        <li class="item"><a href="franquicias">Franquicias</a></li>
        <li class="item"><a href="servicios">Servicios</a></li>
        <li class="item"><a href="galery">Galeria</a></li>
        <li class="item"><a href="contact">Contacto</a></li>
      </ul>
    </div>
  </div>
</div>