.container-video
   .title
      h1 Videos
   .content
      .video
         video()#video
            source(src="view/assets/video/wolf.mp4")#video-change
      .controls
         .play.center#play
            .fa.fa-play-circle.fa-3x
         .left.center#left
            .fa.fa-chevron-left.fa-2x
         .right.center#right
            .fa.fa-chevron-right.fa-2x
