footer.main-footer
   .container-footer
      .column
         .title
            img(src="view/assets/image/logo.png", alt="")
         .content
            p Todas nosotros debemos sentirnos Empoderadas , nosotros te brindamos la mejor asesoria de Internet para lograr ese Objetivo.
      .column.content-center.hide-on-screen-small
         .title
            h2 Mujeres Empoderadas
         .content
            ul.list-footer
               +option_footer_data(footer_options)
      .column.content-center
         .title
            h2 Siguenos en:
         .icons-content
            a(href="").link-style
               i.fab.fa-facebook.fa-2x
            a(href="https://api.whatsapp.com/send?phone=+51 974213600&text=Hola Brunella", target="_blank").link-style
               i.fab.fa-whatsapp.fa-2x
            a(href="").link-style
               i.fab.fa-twitter.fa-2x
   .copyright-content
      - let text_footer = "Copyright Reserved M&P DADA (2019)"
      p= text_footer
