header.main-header
   .main-logo
      a(href="home"): img(src="view/assets/image/logo.png", alt="").logo-img
      .sign
         p Environment of Mining and Construction for Women
   .main-options
      ul.list
         +option_header_data(header_options)
   .main-responsive-menu#icon-header-menu
      i.fa.fa-bars
