.menu-responsive
   .menu-responsive-header
      .title-menu-responsive
         a(href="home"): img(src="view/assets/image/logo.png", alt="").logo-img
      .options-menu-responsive
         ul.list
            li.item: a(href="profile") Brunella Benavente
            li.item: a(href="nosotros") Nosotros
            li.item: a(href="franquicias") Franquicias
            li.item: a(href="servicios") Servicios
            li.item: a(href="galery") Galeria
            li.item: a(href="contact") Contacto
