@import "galery/image_ajax";

$galery-width : 90%;
$margin : $header-height + 10px;

.main-content{
   width: inherit;
   padding: 0 0 $margin 0;

   .central-content{
      width: inherit;
      height: 350px;
      margin-bottom: 5em;
      position: relative;
      animation-name: aparecer;
      animation-delay: .3s;
      animation-duration: 1s;
      animation-fill-mode: both;

      @include header_galery_event();
      @include responsive(750px){
         height: 300px;
         .text{ font-size: 0.9em; }
      }
      @include responsive(600px){
         .image{
            background-position: center;
         }
         .text{
            .pre-title{
               font-size: 0.9em;
            }
            .title{
               font-size: 0.9em;
               .t{ font-size: 2.5em; }
               .tp{
                  width: 70%;
                  margin: 0 auto;
               }
            }
         }
      }
      @include responsive(400px){ height: 260px; }
   }

   @keyframes aparecer{
      from{ opacity: 0; }
      to{ opacity: 1; }
   }

   @include galery();
}
