.main-content{
   width: 80%;
   margin: 3em auto 6em auto;
   .title-events{
      width: 100%;
      padding: 0 0 3em 0;
      .title{ 
         font-size: 2.8em; 
         padding-bottom: .3em;
         background: $header-background;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }

      .message{
         color: lighten(#000, 45);
      }
   }
   .container-events{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1.5em;
      .card{
         display: grid;
         grid-template-columns: 1fr 2fr;
         grid-gap: 1em;
         $h : 230px;
         box-shadow: 0 5px 15px rgb(230,230,230);
         .header{
            width: 100%;
            height: $h;
            .img-head{
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
         .body{
            width: 100%;
            height: $h;
            overflow: auto;
            padding: 0 .5em;
            .title{
               font-size: 1.5em;
               padding: 1em 0 .5em 0;
               color: $header-color-a;
            }
            .message{
               line-height: 1.5em;
               color: #444;
            }
         }
      }
   }
}