@import "home/mixins";
@import "home/viewslider";
@import "profile/my-profile";

.slider {
  @extend .slider-class;
}

.floating-sections {
  @import "home/floating-sections";
  @import "home/card-services";
}

.profile {
  width: 100%;
  @import "home/profile";
}

.view-galery{
  padding: 5em 0 0 0;
  text-align: center;

  .title{
    width: 40%;
    margin: 0 auto;
    background: $header-background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    @include responsive($width-mobile) {
      width: 80%;
      font-size: 2em;
    }
    span{
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}
