
$height-view : 80vh;
$height-bullet : auto;
$height-slider : $height-view  + $height-bullet;
$bd-gradient : -webkit-repeating-linear-gradient(220deg,rgb(163, 5, 195),rgb(230,60,90));
$bd-gradient : $header-background;


@import "home/mixins";
@import "profile/my-profile";

.slider {
  /*@import "home/card";
  @import "home/viewslider";
  @import "home/bullets";
  @import "home/arrow-slider";
  position: relative;*/
  width: 100%;
  //margin: 1em 0;
  height: max-content;
  position: relative;
  .content{
    display: flex;
    overflow: hidden;
    .image{
      width: 100%;
      position: relative;
      flex: 0 0 auto;
      max-height: 550px;
      overflow: hidden;
      transition: .4s;
      img{
        width: 100%;
        position: relative;
        top: -30%;
        @include responsive(850px){ top: -15%; }
        @include responsive(550px){ top: -5%; }
      }

      .text{
        padding: 1em 3em;
        height: max-content;
        margin: auto 0;
        position: absolute;
        z-index: 45;
        top: 0;
        bottom: 0;
        color: #fff;
        $time: .5s;
        h1{
          width: 70%;
          font-size: 3.5em;
          padding-bottom: .3em;
          opacity: 0;
          position: relative;
          top: 30px;
          &.animate{
            animation: textFloating $time linear .6s forwards;
          }
        }
        p{
          width: 40%;
          font-size: 1.2em;
          line-height: 1.5em;
          padding-bottom: .8em;
          position: relative;
          opacity: 0;
          top: 30px;
          &.animate{
            animation: textFloating $time linear 1.1s forwards;
          }
        }
        a{
          position: relative;
          top: 30px;
          opacity: 0;
          margin-top: .5em;
          &.animate{
            animation: textFloating $time linear 1.6s forwards;
          }
        }

        @keyframes textFloating{
            100%{ opacity:1; top:0; }
        }
      }

      &:after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 40;
        background: rgba(#000,.6);
      }

      @include responsive(850px){
        .text > p{ width: 60%; }
      }
      @include responsive(650px){
        max-height: 500px;
        .text{ font-size: 0.9em; }
        .text > h1{ width: 85%; font-size: 3em; }
        .text > p{ width: 70%; }
      }
      @include responsive(550px){
        .text{ text-align: center; }
        .text > p{ width: 100%;}
        .text > h1{ width: 100%; }
      }
    }
  }
  .icons{
    width: max-content;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
  }
  .icons > .circle{
    width: 15px;
    height: 15px;
    margin: 0 3px;
    position: relative;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 45;
    &.select{ background: #fff; }
  }
}

.floating-sections {
  @import "home/floating-sections";
  @import "home/card-services";
}

.profile {
  @import "home/profile";
}
