$bg-image : "https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_960_720.jpg";
.bg-image{
   width: 100%;
   height: 650px;
   background-image: url($bg_image);
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-color: rgba(0,0,0,0.5);
   background-blend-mode: darken;
   position: relative;

   .text-floating{
      width: 35%;
      height: max-content;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      color: #fff;
      .text{
         width: 100%;
         margin: 0 auto;
         text-align: center;
         font-size: 2.5em;
      }
   }

   @include responsive(850px){ height: 650px; .text-floating{ width: 50%; } }
   @include responsive(650px){ height: 550px; .text-floating{ width: 70%; font-size: 0.95em; } }
   @include responsive(550px){ height: 400px; .text-floating{ width: 80%; font-size: 0.8em; } }
   @include responsive(400px){ height: 300px; .text-floating{ width: 90%; font-size: 0.7em; } }
}

.card-nosotros{
   width: 70%;
   min-height: 700px;
   max-height: 800px;
   margin: 0 auto;
   background: rgb(240,240,240);
   padding: 2em;
   text-align: center;
   transform: translateY(-10%);
   .icons{
      @include centerContent();
      color: black;
      padding: 1em 1em 2em 1em;
      font-size: 2em;
      *{
         cursor: pointer;
         margin: 0 10px;
         &:hover{
            color: $header-color-a;
         }
      }
   }
   .text{
      width: 70%;
      margin: 0 auto;
      .title{
         font-size: 3.5em;
         padding-bottom: 1em;
         @include gradient-text($text-color);
      }
      .desc{
         padding-bottom: 3em;
         font-size: 1.2em;
         line-height: 1.5em;
      }
      .btn{
         background: $header-background;
         padding: 15px 1em;
         border-radius: 30px;
         font-size: 1.2em;
      }
   }
   @include responsive(850px){ width: 80%; transform: translateY(-10%); }
   @include responsive(650px){ 
      width: 90%; 
      font-size: 0.95em; 
      padding: 1.5em;
      .text{ width: 80%; }
   }
   @include responsive(550px){
      font-size: 0.9em;
      padding: 1em;
      .text{
         width: 95%;
         padding-bottom: 2em;
         .title{ font-size: 2.5em; }
         .btn{ padding: 10px; }
      }
   }
   @include responsive(450px){
      width: 100%;
      font-size: 0.95em;
      transform: translateY(0);
   }
}
