mixin card-image(image_link)
   .image
      img(src=image_link, alt="").img-view
      .icon
         i.fa.fa-camera.fa-2x

mixin image_event(subtitle_event,title_event)
   .image
   .text
      .pre-title
         a(href="home").link-sub Inicio <i class="fa fa-chevron-right"></i>
         a(href="galery").link-sub Galeria <i class="fa fa-chevron-right"></i>
         p.sub=subtitle_event
      .title
         h1.t=title_event
         p.tp Lorem ipsum dolor sit amet.
