- const TITLE = "Mujeres Emprendedoras";
- var subtitle = "default_text";
-
   var footer_options = [
      {
         name : "Brunella Benavente",
         link : "#"
      },
      {
         name : "Nosotros",
         link : "#"
      },
      {
         name : "Servicios",
         link : "#"
      },
      {
         name : "Contacto",
         link : "#"
      }
   ]
- 
   var header_options = [
      {
         name : "Brunella Benavente",
         link : "profile",
         child : [],
      },
      {
         name : "Nosotros",
         link : "nosotros",
         child : [],
      },
      {
         name : "Franquicias",
         link : "franquicias",
         child : []
      },
      {
         name : "Servicios",
         link : "servicios",
         child : [
            {
               name : "Conferencias",
               link : "servicios#conferencia"
            },
            {
               name : "Franquicias",
               link : "servicios#franquicias"              
            },
            {
               name : "Presentaciones",
               link : "servicios#presentacion"              
            }
         ],
      },
      {
         name : "Galeria",
         link : "galery",
         child : []
      },
      {
         name : "Contacto",
         link : "contact",
         child : []
      }
   ]
-
  var data_profile = {
    name  : "Brunella Benavente",
    description : [
      {  
        text  : "Ingeniera Industrial especialista en Seguridad en Minería y Construcción, Empresaria, y Fundadora de la Comunidad de Empoderamiento “Botas de punta de acero”  y Creadora de “Environment of Mining and Construction of Women” "
      },
      {  
        text  : "Líder en Gestión de Seguridad en Minería y Construcción contando con una larga experiencia de aproximadamente más de 8 años."
      },
      {
         text : "Coach en PNL avanzada e Hipnosis, graduada y certifica por la  la AHPNL (Asociación Hispanoamericana de Programación Neurolingüística)."
      },
      {
         text : "CEO de la Empresa AYNI, Empresa con la visión de dar trabajos y entrenar mujeres para lograr la equidad de género en la Construcción."
      },
      {
         text : "Directora de Operaciones del “Instituto de Seguridad y Salud en la Construcción”."
      },
      {
         text : "Integrante de la Comunidad de “LIFE”, <La vida que siempre has querido>, una plataforma mundial de desarrollo, liderazgo y finanzas personales."
      },{
         text : "Integrante de la Comunidad de “Fridays for Future”, visión que esta basada en el presente y futuro del planeta."
      },
      {
         text : "CEO de “BRevents 4U”, Empresa Organizadora de Eventos."
      }
    ]
  }
