@mixin description($color:rgb(70,70,70),$background:transparent)
{
  .iam-profile-description {
    @include flex(center,center);
    padding: 80px 20px;
    background: $background;

    .header {
      padding-bottom: 20px;

      .im-virtue {
        font-size: 3.8em;
        color: $color;
        @include gradient-text($color);
        @include responsive($width-mobile){
          text-align: center;
          font-size: 3em;
        }
      }

    }

    .section{

      .--text {
        color: gray;
        font-size: 1.1em;
        margin: auto;
        line-height: 30px;
        @include responsive($width-mobile) {
          width: 90%;
          text-align: center;
        }

      }

      a{
        margin-top: 1.7em;
      }
    }
    @content;
  }
}

@mixin description-image() {
    .description-card {
      @include flex;
      > * {
        padding:10px 20px;
        &.title {
          @include responsive($width-mobile) {
            margin: auto;
          }
          h4 {
            border-left: 1.4px solid black;
            padding-left: 10px;
            margin: 10px 5px;
            margin-left: 2%;
            font-size: .8em;
            width: 50%;

            @include responsive($width-mobile) {
              width: 90%;
              font-size: .8rem;
              text-align: center;
              border-left: 0;
            }
          }

          h1 {
            color: rgb(70,70,70);
            font-size: 2.5em;
            @include responsive($width-mobile) {
              font-size: 2em;
            }
          }
        }
        &.description{
          .text-description {
            color: gray;
            font-size: 1.1em;
            line-height: 30px;
            text-align: justify;
            @include responsive($width-mobile) {
              font-size: 1em;
              text-align: center;
            }
          }
        }
      }
    }
}

@mixin flex( $align : none , $justify : none, $direccion:column )
{
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direccion;
}
