.my-description {

  background: linear-gradient(45deg,white 50%,rgba(100,100,100,.05) 50%);

  .first-description{
    @include description($header-background){
      padding: 6em 0;
      .im-virtue{
        font-size: 5em;
      }
      .--text {
        width: 50%;
        text-align: center;
      }
    }

  }

  .message-inspiration{
    background: rgb(230, 230, 230);
    color: rgb(105, 105, 105);
    padding: 4em 0;
    .message{
      border-left: 3px solid;
      padding-left: 2em;
      width: 40%;
      margin: 0 auto;
      font-size: 1.1em;
      line-height: 1.5em;
      @include responsive(950px){ width: 60%; }
      @include responsive(750px){ width: 80%; padding-left: 1.5em; }
      @include responsive(550px){ width: 90%; padding-left: 1em; }
    }
  }

  .second-description {
    @include flex(center,none,row);
    width: 80%;
    margin: 20px auto;

    @include responsive($width-mobile) {
      @include flex;
      width: 100%;
    }

    > .row {
      width: 50%;

      @include responsive($width-mobile + 100px) {
        width: 100%;
      }

      @include description($header-background){
        display: block;
      }

      img {
        display: block;
        margin: auto;
        width: 250px;
        @include responsive($width-mobile + 100px) {
          margin-bottom: 70px;
        }

      }

    }
  }

  .dark-description {
    position: relative;

    > .back-view {
      background:url("../assets/image/b_c.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center 10%;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    > .front-view-detail {
        background:linear-gradient(45deg,rgba(0,0,0,.8),rgba(0,0,0,.1));
        padding: 40px 10px;
        z-index: 2;
        position: relative;

        @include responsive($width-mobile){
          padding: 0px;
        }
    }

    @include description(white){
      display: block;
      width: 50%;
      margin-left: 5%;

      @include responsive($width-mobile){
        width: 90%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
      & .header .im-h3 {
        color: white;
        @include responsive($width-mobile) {
          text-align: center;
        }
      }
      .section .--text {
        color: white;
        @include responsive($width-mobile) {
          text-align: center;
        }
      }
      .button {
        display: inline-block;
        margin-top: 20px;
        @include responsive($width-mobile){
          margin: 20px;
          margin-bottom: 0;

        }
      }
    }
  }

  .double-row-more-description {
    @include flex(center);
    padding: 50px 0;
    margin: auto;
    width: 80%;
    @include responsive(1000px) {
      width: 90%;
    }

    @include responsive($width-mobile) {
      width: 100%;
    }
    @include description-image();

    .row {
      &.row-header {
        margin: 20px auto;

        @include flex(none,space-between,row);
        @include responsive($width-mobile + 200) { @include flex; }

        >* {
          width: 45%;
          @include responsive(1000px) {
            width: 50%;
          }

          @include responsive($width-mobile + 200) {
            width: 100%;
          }
          .t{
            background: $header-background;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 3.5em;
            padding-bottom: .2em;
            @include responsive(600px){
              font-size: 2.8em;
            }
            @include responsive(450px){
              font-size: 2em;
            }
          }
        }
      }
    }
  }
}
