@mixin header_galery(){
   width: 100%;
   height: 350px;
   text-align: center;
   padding: 1em;
   @include centerContent(){ flex-direction: column; }
   .title{
      font-size: 3.5em;
      padding-bottom: .5em;
      background: $header-background;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
   .description{
      width: 40%;
      color: #999;
   }
   @include responsive(950px){
      .title{ font-size: 3.1em; }
   }
   @include responsive(680px){
      height: 300px;
      .title{ font-size: 2.5em; }
      .description{ font-size: 0.9em; }
   }
   @include responsive(580px){
      height: 230px;
      .title{ font-size: 2em; }
      .description{ display: none; }
   }
}

@mixin galery(){
   .main-galery{
      width: inherit;
      height: max-content;
      background: #fff;

      .content-galery{
         width: $galery-width;
         margin: 0 auto 8em auto;
         display: grid;
         grid-gap: 10px;
         grid-template-columns: repeat(6,1fr) ;

         .image{
            width: 100%;
            margin-bottom: 5px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            line-height: 0;

            .img-view{
               width: 100%;
               height: 150px;
               object-fit: cover;
               opacity: 1;
               transition: .3s;
            }

            .icon{
               width: 100%;
               height: 100%;
               margin: auto;
               position: absolute;
               top: 0;
               left: 0;
               color: #fff;
               transition: .3s;
               z-index: 9;
               background: rgba($color: #000000, $alpha: 0.8);
               display: flex;
               align-items: center;
               justify-content: center;
               opacity: 0;
            }

            &:hover{
               .icon{ opacity: 1; }
            }

         }
         @include responsive(1050px){
            grid-template-columns: repeat(4,1fr);
         }
         @include responsive(850px){
            width: $galery-width + 5%;
         }
         @include responsive(700px){
            grid-template-columns: 1fr 1fr 1fr;
         }
         @include responsive(600px){
            grid-template-columns: 1fr 1fr;
            .image .img-view{ height: 200px; }
         }
         @include responsive(450px){
            grid-template-columns: 1fr;
            .image .img-view{ height: 240px; }
         }
         @include responsive(350px){
            .image .img-view{ height: 200px; }
         }
      }
   }

   @content;
}

@mixin header_galery_event(){
   .image{
      width: inherit;
      height: inherit;
      background-image: url("https://cdn.pixabay.com/photo/2019/07/12/19/13/happy-4333439_960_720.jpg");
      background-position: bottom;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba($color: #000000, $alpha: 0.6);
      background-blend-mode: darken;
   }
   .text{
      $padding : 2.5em;
      width: inherit;
      height: inherit;
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      color: #fff;
      text-align: center;
      .pre-title{
         display: flex;
         font-size: 1.2em;
         padding: $padding 1em 0 1em;
         .link-sub{
            font-weight: bold;
            padding-right: 10px;
         }
      }
      .title{
         padding-top: $padding;
         .t{ font-size: 3.5em; padding-bottom: 1em; }
         .tp{ font-size: 1.2em; }
      }
   }
}
