.arrow-slider {
  color: white;
  position: absolute;
  top: 50%;
  font-size: 1.2em;
  padding: 0 20px;
  margin-top: -$height-slider / 2;
  z-index: 1;
  cursor: pointer;
  transition: .3s;

  &.arrow-left {
    left:5px;
    &:hover {  transform: translateX(-10%);  }
    &:active {  transform: translateX(10%)translateX(0%);  }

  }

  &.arrow-right {
      right: 5px;
      &:hover { transform: translateX(10%);  }
      &:active {  transform: translateX(-10%)translateX(0%);  }

  }

  @include responsive($width-mobile) {
    display: none;
  }

}
