
> .point-slider {

  position: absolute;
  bottom: 0;
  z-index: 10;

  @include flex();

  width: 100%;
  height: $height-bullet;
  padding: 10px;

  .bullets-slider {
      @include flex(center,center,row);
      list-style: none;
      .bullet {
        transition: .3s;
        color: white;
        margin: auto 5px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border:1px solid white;
        &.active-bullet {
          background: white;
          transform: scale(1.3);
        }
      }
  }

}
