.floating__power {
  position: relative;

  &.words-inspiration{
    p{
      width: 40%;
      margin: 2.5em auto;
      font-size: 1.8em;
      text-align: center;
      background: $header-background;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      span{
        font-weight: bold;
        text-transform: uppercase;
        &.central{
          font-size: 2.5em;
        }
        &.minun{
          text-transform: lowercase;
          font-size: 0.9em;
        }
      }

    }
    @include responsive($width-mobile) {
      p{
        width: 80%;
        span{
        font-weight: bold;
        text-transform: uppercase;
        &.central{
          font-size: 2em;
       }
        &.minun{
          text-transform: lowercase;
          font-size: 0.9em;
        }
      }
      }
    }
  }

  &.dark {

    overflow: hidden;

    .image-back-panel {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }

    .front-panel {
      background: rgba(0,0,0,.6);
      text-align: center;
      color: white;
      padding: 3% 0;


      .icon-simple {
        width: 40px;
        margin: .8em 0;
        filter: invert(100%);
      }

      .detail-text {
        width: 40%;
        margin: 20px auto;
        font-size: 1.1em;
        line-height: 25px;

        @include responsive($width-mobile) {
          width: 90%;
          font-size: 1em;
        }

        > .title {
          font-size: 2.2em;
          line-height: normal;
          margin-bottom: 40px;
          @include responsive($width-mobile) {
            font-size: 1.8em;
          }
        }
      }

    }
  }

  &.light-2{
    width: 70%;
    margin: 5em auto;
    text-align: center;
    @include responsive($width-mobile) { width: 90%; }

    h1 {
      margin: 20px auto;
      width: 70%;
      background: $header-background;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.5em;
      @include responsive($width-mobile) { width: 90%; font-size: 1.8em; }
    }
    p {
      width: 60%;
      font-size: 1.1em;
      line-height: 1.8em;
      color: rgb(120,120,120);
      margin: 2em auto 1.5em auto;
      @include responsive($width-mobile){
        width: 80%;
      }
    }
  }

  .btn-link {
    margin: 20px auto;
  }

}
