.container-landing 
  .body-message 
    .header
      h1.main-title 
        span.t1 Emprende 
        | como la 
        span.woman-name Mujer 
        | que eres 
        br
        | y se la mejor 
