mixin item-list(texttitle) 
  .container-list(data-aos="fade-up")
    .header
      .row= texttitle
      .btn-plus-detail
        i.icon.fa.fa-plus
    .content-body
      block


mixin all-item-list()
  .row
   +item-list("Loremd minim veniam, quis nostruvoluptate velit esse cillum dolore eu fugiat nulla")
    p 
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. controller items app
  .row
   +item-list("Loremd minim veniam, quis nostruvoluptate velit esse cillum dolore eu fugiat nulla")
    p 
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. controller items app
  .row
   +item-list("Loremd minim veniam, quis nostruvoluptate velit esse cillum dolore eu fugiat nulla")
    p 
     | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. controller items app
    
