.landing-container
    include landing
.container-row(data-aos="fade-up")
  h1.title 
    .text Franquicias
    .line
  p.message 
    | Te ayudamos a emprender y superarte, eres una mujer con muchas habilidades, te toca hacer un gran cambio 
    | importante en la sociedad e inspirar a otras personas que llevan dentro esa energía de sobresalir.
  .container-image(data-aos="fade-up")
    img.image-rounded(src="view/assets/image/b_g.jpg")
.container-row-conferences
  .title
    h1.title Ambiente empoderada
  .list-items
    +all-item-list()
