.container-landing {
  height: 350px;
  background:linear-gradient(bottom,black,transparent),url("https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557399_960_720.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @include flex(center,center);
  .body-message {
    text-align: center;
    margin: 100px auto;
    display: inline-block;
    width: 80%;
    color: white;
    text-shadow: 0 1px  1px black;

    @include responsive($width-mobile) {
      margin: 0;
      padding: 10px 20px;
    }
    .main-title {
      font-size: 3em;
      @include responsive($width-mobile) {
        font-size: 2em;
      }
    }
  }

  @include responsive(600px){
    height: 250px;
  }

}
