@mixin centerContent(){
   display: flex;
   justify-content: center;
   align-items: center;
   @content;
}

@mixin flex($dir : row , $j : center , $a : center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $j;
    align-items: $a;
}

@mixin responsive($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin gradient-text($color) {
  background: $color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
