extends ../templates/base_html.pug
include contact/mixins.pug

append config
   - subtitle = "pagina no encontrada";

append css3
   link(rel="stylesheet", href="view/css/detail_404.css")

block content
  .header
    img(src="view/assets/image/logo.png",alt="icon-page-error")
  .main 
    .body-message 
      h1 error 404
      .icon
        i.fa.fa-2x.fa-exclamation-triangle
      h3 Ups! Pagina no encontrada
      p La pagina que buscaste no se encuentra, al parecer la busqueda realizada no existe,preciona el botón de abajo para llevarte al inicio.
      a.btn-link(href="home") volver al inicio
      
block detail-content
block final-content
block floating-content
