extends ../templates/base_html.pug
include franquicias/mixins
include ../templates/components/contacto.pug

append config
  - subtitle = "Franquicias";

append css3
  link(rel="stylesheet",href="view/css/detail_franquicias.css")

append content
  .sections-simple.sections
    include franquicias/sections
block detail-content
  +contact-aside()
