extends ../templates/base_html.pug
include galery/mixins.pug

append config
   - subtitle = "Event"

append css3
   link(rel="stylesheet", href="view/css/detail_galery_event.css")

append content
   section.main-content
      .title-events
         h1.title Nuestros Eventos
         p.message Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, velit.
      .container-events
         // -
          .card
            .header
               img(src="https://cdn.pixabay.com/photo/2016/02/05/04/49/australia-1180394_960_720.jpg", alt="").img-head
            .body
               p.title
                  | Lorem ipsum dolor sit amet.
               p.message
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veritatis quibusdam distinctio velit, suscipit iste vitae, earum voluptates error tempora dolor atque deleniti blanditiis vero eligendi cumque. Quis totam illum eius facere numquam. Commodi aspernatur necessitatibus exercitationem aliquid sit fuga cupiditate eveniet saepe quibusdam, pariatur eius quidem suscipit ipsa ullam.
block detail-content

append floating-content
   +modal_photo(false)
