extends ../templates/base_html.pug
include galery/mixins.pug

append config
   - subtitle = "Galery";

append css3
   link(rel="stylesheet", href="view/css/detail_galery.css")

append content
   section.main-content
      .main-galery
         .header-galery
            h1.title Galeria de Eventos
            p.description En esta seccion encontraras todo tipo de despliegue fotografico sobre algunos de nuestros eventos
         .content-galery
            //ajax
            
block detail-content

append floating-content
   +modal_photo(false)