extends ../helpers/base_html.pug
include galery/mixins.pug

append config
   - subtitle = "Event"

append css3
   link(rel="stylesheet", href="view/css/detail_galery_event.css")

append content
   section.main-content
      .main-galery
         .central-content
            +image_event("Evento de la Semana","Evento de la semana")         
         .content-galery
            //Content ajax

block detail-content

append floating-content
   +modal_photo(false)
