extends ../helpers/base_html.pug
include home/mixins
include ../templates/aside/contacto.pug

append config
  - subtitle = "Home";

append css3
  link(rel="stylesheet",href="view/css/detail_home.css")

append content
  .slider
    .content
      .image
          img(src="view/assets/image/b_l.jpg", alt="")
          .text
            h1 Lorem ipsum dolor sit.
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum tenetur voluptatem itaque corrupti ipsum exercitationem blanditiis quibusdam aut eaque molestias?
            a(href="").btn-link Ver mas..
      .image
          img(src="view/assets/image/b_m.jpg", alt="")
          .text
            h1 Lorem ipsum dolor sit.
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum tenetur voluptatem itaque corrupti ipsum exercitationem blanditiis quibusdam aut eaque molestias?
            a(href="").btn-link Ver mas..
      .image
          img(src="view/assets/image/b_n.jpg", alt="")
          .text
            h1 Lorem ipsum dolor sit.
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum tenetur voluptatem itaque corrupti ipsum exercitationem blanditiis quibusdam aut eaque molestias?
            a(href="").btn-link Ver mas..
    .icons 
      .circle
      .circle
      .circle
  .floating-sections
    include home/floating-sections
  .profile
    include home/profile
  .view-galery
    p.title Visite <span>Nuestra Galeria</span>
    .icon: i.fa.fa-portrait
    p.text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil totam, sequi possimus nostrum soluta minus obcaecati optio adipisci tenetur animi, velit esse molestiae, laudantium omnis.
    a.btn-link(href="galery") Ver mas

append detail-content
  +contact-aside()

append javascript
  script(src="view/js/pages/slider.js")
