extends ../helpers/base_html.pug
include home/mixins
include ../templates/aside/contacto.pug

append config
  - subtitle = "Home";

append css3
  link(rel="stylesheet",href="view/css/detail_home.css")

append content
  .slider
    .content
      .image
          img(src="view/assets/image/b_l.jpg", alt="")
          .text
            h1 Empoderamiento <br> Femenino
            p Nosotras poseemos el empoderamiento femenino. <br> Nuestra mision es dar asesoria y brindar un gran servicio a las mujeres.
            a(href="nosotros").btn-link Ver mas..
      .image
          img(src="view/assets/image/b_m.jpg", alt="")
          .text
            h1 Brindamos el Mejor <br>Servicio para Ti
            p Nuestros servicios se especializan directamente empoderar a las mujeres, contamos con asesorias, eventos, charlas, etc.
            a(href="servicios").btn-link Ver mas..
      .image
          img(src="view/assets/image/b_n.jpg", alt="")
          .text
            h1 Brunella Benavente
            p Profesional en Mineria y Construccion. <br> Esta dispuesta a ayudar a las personas que soliciten su ayuda.
            a(href="profile").btn-link Ver mas..
    .icons 
      .circle
      .circle
      .circle
  .floating-sections
    include home/floating-sections
  .profile
    include home/profile
  .view-galery
    p.title Visite <span>Nuestra Galeria</span>
    a.btn-link(href="galery" style="margin:1em 0") Ver mas

append detail-content
  +contact-aside()

append javascript
  script(src="view/js/pages/slider.js")
