extends ../helpers/base_html

append config
   - subtitle = "Nosotros"

append css3
   link(rel="stylesheet", href="view/css/detail_nosotros.css")

append content
   include nosotros/bg_image
   include nosotros/card_information
