extends ../helpers/base_html.pug
include home/mixins

append config
  - subtitle = "Brunella";

append css3
  link(rel="stylesheet",href="view/css/intermediate_profile.css")

append content
  .section-profile-principal 
    include profile/mixins
    include profile/my-profile

block intermediate-content
   
