extends ../helpers/base_html

append config
   - subtitle = "Servicios";

append css3
   link(rel="stylesheet", href="view/css/detail_servicios.css")

append content
   section.main-content
      .parallax-content
         .text-parallax
            h1.title
               |Lorem, ipsum dolor sit <span>amet consectetur</span> adipisicing elit. Dicta, fugiat.
            a(href="contact").btn-link Contacto
      .conferencia#conferencia
         .title-conferencia
            h1 Mis conferencias
         .content-conferencia
            .image
               .container
                  .text
                     h1 Lorem, ipsum dolor.
                     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nulla corporis corrupti aut deleniti et beatae, alias cum magnam laudantium culpa quasi, aperiam, unde necessitatibus amet nam reprehenderit. Quos nemo consequatur asperiores pariatur sit ad tempore distinctio quia, aliquid aut?
                  img(src="https://cdn.pixabay.com/photo/2015/11/07/11/50/girls-1031538_960_720.jpg", alt="").img
            .canvas
               canvas#effect-arc
      .franquicias#franquicias
         h1.title Nuestras Franquicias
         p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt laborum qui numquam est asperiores rerum odio repudiandae distinctio totam eaque?
         a(href="franquicias").btn Franquicias
      .contacto#presentacion
         .image
            .content
               h1 Presentaciones efectivas para <span>Mujeres</span>
               a(href="contact") Contacto
         .text
            .content
               h1 Lorem ipsum dolor sit amet consectetur.
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tempora molestiae eveniet cumque provident accusamus nesciunt ex nam quidem in beatae ad ipsum id odit possimus impedit, nisi eum quae tenetur vel veniam nobis, totam rem! Modi tempora corporis facere, magni nostrum inventore perspiciatis doloribus repellat sequi iure ducimus debitis accusamus suscipit cupiditate praesentium quos dignissimos a aut? Obcaecati quos dicta nulla doloribus aliquam earum quibusdam esse soluta, voluptatibus eos assumenda nihil cumque nesciunt, architecto sapiente asperiores? Odio excepturi nobis accusantium quas dolore in modi, fugiat eaque quam incidunt sequi necessitatibus, voluptatum deserunt reprehenderit voluptate nemo cum? Minima, sint praesentium.

block detail-content

append javascript
   script(src="view/js/functions/servicios_functions.js")
   script(src="view/js/pages/servicios.js")