extends ../helpers/base_html

append config
   - subtitle = "Servicios";

append css3
   link(rel="stylesheet", href="view/css/detail_servicios.css")

append content
   section.main-content
      .parallax-content
         .text-parallax
            h1.title
               |EL MEJOR DE LOS <span>SERVICIOS</span> lo brindamos nosotros.
            a(href="servicios#conferencia").btn-link Ver mas
      .conferencia#conferencia
         .title-conferencia
            h1 Nuestras Conferencias
         .content-conferencia
            .image
               .container(data-aos="fade-up")
                  .text(data-aos="fade-down")
                     h1 Eventos , Charlas y Mas
                     p Descubre nuestros eventos y charlas en las que te asesoramos para poder Empoderarte y ser la mejor. Ademas tambien regalamos algunos premios y otros presentes al publico.
                  img(data-aos="fade-up")(src="https://cdn.pixabay.com/photo/2015/11/07/11/50/girls-1031538_960_720.jpg", alt="").img
            .canvas
               canvas#effect-arc
      .franquicias#franquicias(data-aos="fade-up")
         h1.title Nuestras Franquicias
         p.desc Poseemos una multitud de opciones para poder Empoderarte asi como tambien algunas otras mas.<br> Conocelas en la pestaña de Franquicias.
         a(href="franquicias").btn Ir a Franquicias
      .contacto#presentacion
         .image
            .content(data-aos="fade-up")
               h1 Presentaciones efectivas para <span>Mujeres</span>
               a(href="contact") Contacto
         .text
            .content
               h1(data-aos="fade-up") PRESENTACION EFECTIVA
               p(data-aos="fade-up") Te ayudaremos a poder mejorar tus relaciones personales y a ayudarte a mejorarlas al 200%. Confia en nosotras y no te arrepentiras. <br> Te ayudaremos a mejorar todas tus capacidades, para asi poder ser mejor que nadie nunca. <br> Tenemos el mejor personal de todo Internet dispuestos a ayudarte en lo que necesites para cumplir tu objetivo y EMPODERARTE.

block detail-content